@model IEnumerable<Philosophers.Models.Area>

@{
    ViewBag.Title = "Areas";
}

<h2>@ViewBag.Title</h2>

<div>
    @using (Html.BeginForm("Details", "Areas", FormMethod.Get))
    {
        <div>
            Area: @Html.DropDownList("areaName", "Select an area")
            <input type="submit" value="Filter" />
        </div>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Number of philosophers
        </th>
    </tr>

    @foreach (var area in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(area.Name, "Details", new { areaName = area.Name })
            </td>
            <td>
                @Html.DisplayFor(a => area.Description)
            </td>
            <td>
                @area.Philosophers.Count
            </td>
        </tr>
    }

</table>
