<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Satisfy" rel="stylesheet">

    <title>@ViewBag.Title - Philosophers Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Phliosophers Library", "Index", "Philosophers", new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Phliosophers", "Index", "Philosophers")</li>
                    <li>@Html.ActionLink("Areas", "Index", "Areas")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="panel-footer text-center">
            <h5>&copy; @DateTime.Now.Year Stephen Shine</h5>
            <h5><i>This is a demonstration website and isn't intended to provide accurate inforamtion about the philosophers.</i></h5>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
