@model Philosophers.Models.Philosopher

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete @Model.FullName?</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        @if (Model.DateOfDeath.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfDeath)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to philosopher", "Details", new { lastName = Model.LastName })
        </div>
    }
</div>
