@model Philosophers.Models.Philosopher

@{
    ViewBag.Title = Model.FullName;
}

<h2>@Model.FullName</h2>
<h4>@Html.ActionLink(Model.Area.Name, "Details", "Areas", new { areaName = Model.Area.Name }, null)</h4>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            
            <img src="~/Content/Images/@Model.ImgUrl"
                 alt="No image found" class="img-responsive" />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(m => m.Nationality)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.Nationality.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.DateOfBirth)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.DateOfBirth)
                </dd>

                @if (Model.DateOfDeath.HasValue)
                {
                    <dt>
                        @Html.DisplayNameFor(m => m.DateOfDeath)
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => m.DateOfDeath)
                    </dd>
                }

                <dt>
                    Age
                </dt>
                <dd>
                    @Model.calculateAge() years old
                </dd>

            </dl>
        </div>
    </div>

    <div class="col-md-6">
        <h4>@Html.DisplayNameFor(m => m.Description)</h4>
        <p>@Html.DisplayFor(m => m.Description)</p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { lastName = Model.LastName }) |
            @Html.ActionLink("Delete", "Delete", new { lastName = Model.LastName }) |
            @Html.ActionLink("Back to Philosophers", "Index")
        </p>
    </div>
</div>
