@model Philosophers.Models.Philosopher

@{
    ViewBag.Title = Model.FullName;
}

<h2>@Model.FullName</h2>
<h4>@Html.ActionLink(Model.Area.Name, "Details", "Areas", new { areaName = Model.Area.Name }, null)</h4>

<div class="row">
    <div class="col-md-6>
        <div class="well">
            
            <img src="~/Content/Images/@Model.ImgUrl"
                 alt="No image found" class="img-responsive" />


            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Nationality)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nationality.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                @if (Model.DateOfDeath.HasValue)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.DateOfDeath)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfDeath)
                    </dd>
                }

                <dt>
                    Age
                </dt>
                <dd>
                    @Model.calculateAge() years old
                </dd>

            </dl>
        </div>
    </div>

    <div class="col-md-6">
        <h4>@Html.DisplayNameFor(model => model.Description)</h4>
        <p>@Html.DisplayFor(model => model.Description)</p>
        @foreach (var book in Model.Books)
        {
            <p>@book.Title</p>
        }
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhilosopherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
