@model IEnumerable<Philosophers.Models.Philosopher>

@{
    ViewBag.Title = "Index";
}

<h2>All philosophers</h2>

<p>
    @Html.ActionLink("Add another philosopher", "Create")

    @*
    using statement causes form to be disposed when block closed
    parameters (ActionMethod, Controller, HTTP Method)
    TextBox passes value called searchString which matches parameter in Index ActionMethod
    *@
    @using (Html.BeginForm("Index", "Philosophers", FormMethod.Get))
    {
        <p> 
            Name: @Html.TextBox("searchString")
            <input type="submit" value="Search"/> 
        </p>
    }
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PhilosopherID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PhilosopherID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PhilosopherID })
            </td>
        </tr>
    }
</table>*@
    
<div class="row">
    @foreach (var philosopher in Model)
    {
        Html.RenderPartial("_PhilosopherSummary", philosopher);
    }
</div>
